<ion-header [translucent]="true">
    <ion-title>
        Test
    </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-slides>
        <ion-slide>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
        </ion-slide>
        <ion-slide>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
        </ion-slide>
        <ion-slide>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
            <ion-input type="'number'" [placeholder]="'test'"></ion-input>
        </ion-slide>
    </ion-slides>
</ion-content>
